﻿@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-4">Oops!</h1>
            <p class="lead">An error has occurred.</p>
            <div class="alert alert-danger">
                <h4 class="alert-heading">An error occurred while processing your request</h4>
                <p>Please try again later or contact support if the problem persists.</p>
            </div>
            <a asp-controller="Todo" asp-action="Index" class="btn btn-primary">Go Back to Todo</a>
        </div>
    </div>
</div>
