﻿@model todo_app.Domain.DTOs.TodoCreateDto

<div class="card" style="height: 75vh;">
    <div class="card-header">
        <h3 class="text-center">Create new Todo</h3>
    </div>
    <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative;" >
        <form method="post">
            <div class="form-group mt-2">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="DueTime"></label>
                <input asp-for="DueTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="DueTime" class="text-danger"></span>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
                <div class="col-6 text-end">
                    <a class="btn btn-link" asp-controller="Todo" asp-action="Index"><i class="fas fa-arrow-left me-2"></i>Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div