﻿@using todo_app.Domain;
@model List<Todo>

<div class="card">
    <div class="card-header p-3">
        <div class="row">
            <div class="col-6">
                <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Todo List</h5>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-primary" asp-controller="Todo" asp-action="Create">Add New</a>
            </div>
        </div>
    </div>
    <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: auto">
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" asp-controller="Todo" asp-action="Index">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Todo" asp-action="FilterTodos" asp-route-dueDate="today">Today</a>
            </li>
        </ul>
        <table class="table mb-0">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Due date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                    <tr class="fw-normal">
                        <th class="align-middle">
                            <small>
                                @if (item.Status == TodoStatus.Completed)
                                {
                                    <span style="text-decoration:line-through; color: gray">@item.Title</span>
                                }
                                else
                                {
                                    <span>@item.Title</span>
                                }
                            </small>
                        </th>
                        <td class="align-middle">
                            <small>
                                @if (item.Status == TodoStatus.Completed)
                                {
                                    <span style="text-decoration:line-through; color: gray">@item.Description</span>
                                }
                                else
                                {
                                    <span>@item.Description</span>
                                }
                            </small>
                        </td>
                        <td class="align-middle">
                            <small>
                                @if (item.Status == TodoStatus.Completed)
                                {
                                    <span style="color: gray">
                                        <i class="fas fa-thin fa-calendar-day"></i> Today, @item.DueTime.ToString("HH:mm")
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        <i class="fas fa-thin fa-calendar-day"></i> Today, @item.DueTime.ToString("HH:mm")
                                    </span>
                                }
                            </small>
                        </td>
                        <td class="align-middle">
                            @if (item.Status == TodoStatus.InProgress)
                            {
                                <h6 class="mb-0"><span class="badge bg-warning">In Progress</span></h6>
                            }
                            @if (item.Status == TodoStatus.Completed)
                            {
                                <h6 class="mb-0"><span class="badge bg-success">Completed</span></h6>
                            }
                            @if (item.Status == TodoStatus.NotStarted)
                            {
                                <h6 class="mb-0"><span class="badge bg-danger">Not Started</span></h6>
                            }
                        </td>
                        <td class="align-middle d-flex flex-column flex-sm-row justify-content-start align-items-start align-items-sm-center">
                            @if (item.Status == TodoStatus.NotStarted)
                            {
                                <form method="post" asp-controller="Todo" asp-action="ChangeStatus" asp-route-id="@item.Id" asp-route-status="@TodoStatus.InProgress">
                                    <button type="submit" class="btn btn-link btn-sm p-0" title="Start">
                                        <i class="fas fa-play me-2"></i>
                                    </button>
                                </form>

                            }
                            @if (item.Status == TodoStatus.InProgress)
                            {
                                <form method="post" asp-controller="Todo" asp-action="ChangeStatus" asp-route-id="@item.Id" asp-route-status="@TodoStatus.Completed">
                                    <button type="submit" class="btn btn-link btn-sm p-0" title="Finish">
                                        <i class="fas fa-flag-checkered me-2"></i>
                                    </button>
                                </form>

                            }
                            @if (item.Status != TodoStatus.Completed)
                            {
                                <a asp-controller="Todo" asp-action="Edit" asp-route-id="@item.Id" data-mdb-toggle="tooltip" title="Modify">
                                    <i class="fas fa-pen-to-square me-2" style="color: green;"></i>
                                </a>
                            }
                            <form method="post" asp-controller="Todo" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-link p-0" data-mdb-toggle="tooltip" title="Remove">
                                    <i class="fas fa-trash" style="color: red;"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (!Model.Any())
        {
            <p class="text-center mt-2" style="color: gray">Items not found</p>
        }
    </div>
</div>