﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="height: 75vh">
    <h1 class="display-4">Welcome</h1>
    <div>
        <p>Feel free to use todo application</p> 
        <a class="btn btn-primary" asp-area="" asp-controller="Todo" asp-action="Index">Go to -></a>
    </div>
</div>
