html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-link.disabled,
.btn-link[disabled],
.btn-link.disabled:hover,
.btn-link[disabled]:hover,
.btn-link.disabled:focus,
.btn-link[disabled]:focus {
    border: none !important;
}